/*--------------
    MS COLORS 
 ---------------*/

 .ms-bg-darkblue {
    background-color: #2c3e50;
}

.ms-bg-blue {
    background-color: #3A546D;
}

.ms-bg-green {
    background-color: #1abc9c;
}

/*--------------
    MS BUTTON 
 ---------------*/
 .ms-button-1{
    border: 1px solid white;
    padding: 8px;
    background-color: transparent;
 }

 .ms-button-2{
    border: none;
    padding: 8px;
    background-color:#1abc9c ;
 }

 .ms-button-1:hover, .ms-button-2:hover {
   background-color: #2C3E50 ;
 }
 
 /*--------------
  CIRCLE CONTAINER 
 ---------------*/

 .ms-circle-container {
    width: 45px; /* Imposta le dimensioni del quadrato immaginario */
    height: 45px;
    overflow: hidden; /* Nasconde tutto ciò che esce dai bordi */
    border-radius: 50%; /* Rende il contenitore rotondo */
    border: 1px solid white;
 }

 .ms-circle-content {
    /* Aggiungi stili all'elemento interno (immagine o icona) */
    width: 100%;
    height: 100%;
    background-color:inherit; /* Esempio di sfondo colorato */
 }


 /*--------------
 LINK 
 ---------------*/


header a {
   color: white;
}

header a:hover  {
   background-color: #1abc9c;
   color: #1abc9c;
 }

 
#location .ms-link {
   color: #1abc9c;
}

#location .ms-link:hover {
   color: white;
}

 /*--------------
      HEADER
 ---------------*/

.ms-avatar-box {
   width: 230px;
   height:auto
}


 /*--------------
      START
 ---------------*/

 .ms-line {
   height: 3px;
   width: 14%;
   background-color: black;
   
 }

 .ms-star {
   padding: 0 2% ;
   
 }

 .ms-star-icon {
   font-size: 31px;
   color: black;
 }

/*--------------
      PORTFOLIO
 ---------------*/
.ms-container-image {
   overflow: hidden;
   border-radius: 10px;
   position: relative;
}

.ms-container-image img {
   display: block;
}

.ms-container-image-hover {
   display: flex;
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: rgba(26, 188, 156, 0.3);
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: 0.4s opacity;
}

.ms-container-image-hover i {
       color: white;
       font-size: 40px;
    }

.ms-container-image:hover .ms-container-image-hover {
   opacity: 1;
}

  /*--------------
      CONTACT
 ---------------*/

 .ms-contact-form input  {
   border: none;
   border-bottom: 1px solid #CCCCCC;
   border-radius:0 ;
 }

 .ms-contact-form textarea {
   border: none;
   border-bottom: 1px solid #CCCCCC;
   border-radius:0;
 }